
// source: https://www.ryadel.com/en/css3-media-query-target-only-ie-ie6-ie11-firefox-chrome-safari-edge/
@mixin is_chrome {
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    @content;
  }
}

// screen-readers-only/keyboard-accessible-only elements
@mixin visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin linked_not_left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@mixin linked_not_right {
  border-right-style: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// 1st/last child are at text start/end
@mixin linked {
  &:not(:first-child) { @include linked_not_left; }
  &:not(:last-child) { @include linked_not_right; }
}

@mixin linked_not_top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@mixin linked_not_bottom {
  border-bottom-style: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin linked_vertical {
  &:not(:first-child) { @include linked_not_top; }

  &:not(:last-child) { @include linked_not_bottom; }
}

