/**********************
 * General Typography *
 **********************/

.title-large {
   font-weight: 300;
   font-size: 24pt;
}
h1 {
   font-weight: 800;
   font-size: 20pt;
}
h2 {
   font-weight: 800;
   font-size: 15pt;
}
h3 {
   font-weight: 700;
   font-size: 15pt;
}
h4 {
   font-weight: 700;
   font-size: 13pt;
}
html, body {
   font-weight: 400;
   font-size: 11pt;
}
.heading {
   font-weight: 700;
   font-size: 11pt;
}
.caption-heading {
   font-weight: 700;
   font-size: 9pt;
}
.caption {
   font-weight: 400;
   font-size: 9pt;
}

button {
  font-size: inherit;
  font-family: inherit;
}


.text-info {
  color: $selected_bg_color;
}
.text-success {
  color: $success_color;
}
.text-warning {
  color: $warning_color;
}
.text-danger {
  color: $destructive_color;
}
.text-muted {
  color: $insensitive_fg_color;
}
